Redirect permanent /brandon/small/rhodestw.ps http://rhodesmill.org/brandon/projects/tabspace-guide.pdf
Redirect permanent /brandon/small/rhodestw.ini http://rhodesmill.org/brandon/projects/tabspace.ini
