<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title or 'by Brandon Rhodes' }}</title>
  <link rel="stylesheet" type="text/css" href="/brandon/styles.css" />
  %if needs_mathjax:
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      "HTML-CSS": {matchFontHeight: false},
      NativeMML: {matchFontHeight: false},
      SVG: {matchFontHeight: false}
     });
  </script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  %end
</head>
<body>

%if title != 'Brandon Rhodes':
<p class="byline">
  by Brandon Rhodes
  %if previous_link:
  • <a title="Home Page" href="/brandon/">Previous</a>
  %end
  % if next_link:
  • <a title="Home Page" href="/brandon/">Next</a>
  %end
  • <a title="Home Page" href="/brandon/">Home</a>
</p>
%end
%if add_title:
<h1>{{ title }}</h1>
%end
{{! body_html }}
%if needs_disqus:
%include disqus.html
%end
<p class="byline">©2019</p>

</body>
</html>
