<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title or 'by Brandon Rhodes' }}</title>
  <link rel="stylesheet" type="text/css" href="/brandon/styles.css" />
  %if add_mathjax:
  <script type="text/javascript"
          src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  %end
</head>
<body>

%if title != 'Brandon Rhodes':
<p class="byline">
  by Brandon Rhodes
  %if previous_link:
  • <a title="Home Page" href="/brandon/">Previous</a>
  %end
  % if next_link:
  • <a title="Home Page" href="/brandon/">Next</a>
  %end
  • <a title="Home Page" href="/brandon/">Home</a>
</p>
%end
<h1>{{ title }}</h1>
{{! body_html }}
%if add_disqus:
%include disqus.html
%end
<p class="byline">©2014</p>

</body>
</html>
