@font-face {
    font-family: 'Andada';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Andada.woff) format('woff');
}
@font-face {
    font-family: 'Prociono';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Prociono-Regular.woff) format('woff');
}
body {
    margin-left: auto;
    margin-right: auto;
    max-width: 42em;
    background-color: #F1EBD5;
    padding-left: 1em;
    padding-right: 1em;
    color: #222;
    font-size: 13pt;
    /* font-family: Brawler, serif; */
    /* font-family: Montaga, serif; */
    /* font-family: Rosarivo, serif; */
    /* font-family: Fenix, serif; */
    font-family: Lusitana, serif;
    font-family: Prociono, serif;
    font-family: Andada, serif;
    /* font-family: Junction, serif; */
    line-height: 1.44;
    /* font-family: "EB Garmaond", serif; */
    /* font-family: "Libre Baskerville", serif; */
}
h1, h2 {
    font-family: Prociono, serif;
    font-weight: normal;
    color: #000;
}
h1 {
    text-align: center;
}
table {
    font-size: 13pt;
}
td {
    padding-right: 1em;
}
p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
code, pre {
    font-size: 0.8125em;
}
img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
hr {
    padding: 0 0 1em;
    border: none;
    text-align: center;
}
hr:after {
    content: "❖";
    display: inline-block;
}
.byline {
    margin-top: 0;
    width: 100%;
    text-align: right;
}
.byline a {
    display: inline-block;
    color: #820002;
    text-decoration: none;
}
.byline a:hover {
    text-decoration: underline;
}
.cell .prompt {
    float: left;
    padding-left: -4em;
    font-size: 0.82em;
    font-family: monospace;
}
.cell .input_area, .cell .output_area {
    background-color: white;
    margin-left: 4em;
}
.docinfo {
    margin-left: auto;
    margin-right: auto;
    font-size: 11pt;
}
.docinfo th {
    color: #888;
    padding-right: 0.5em;
    font-weight: normal;
}
.note {
    max-width: 32em;
    margin: 2em auto;
    color: #820002;
}
.note:first-letter {
    float: left;
    font-size: 250%;
    margin-right: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    background: #820002;
    color: #F1EBD5;
    line-height: 1.0;
}
.twitter-tweet {
    box-shadow: 0.1em 0.1em 0.3em #446;
    border-radius: 0.5em;
    background-color: white;
    padding: 0.2em 1em 0.8em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 11pt;
}
.talk {
    clear: both;
    margin-bottom: 2em;
}
.talk img {
    display: block;
    margin: 0 auto;
    max-width: 96%;
    width: 240pt;
    border: 2px solid black;
    box-shadow: 0.4em 0.5em 0.4em #888;
}
.talk h2 {
    line-height: 1.2;
}
@media (max-width: 480pt) {
    .talk:before {
        display: block;
        margin: 1em auto;
        text-align: center;
        content: "❖";
    }
}
@media (min-width: 480pt) {
    .talk img {
        float: left;
        max-width: 166pt;
    }
    .talk h2, .talk p {
        padding-left: 192pt;
    }
}
